.cards-container {
    padding: 4rem 2rem;
    background-image: linear-gradient(rgba(147, 204, 236, 0), rgba(15, 25, 53, 0)),url('../imgs/galaxy.gif');
    background-position: center; 
}

.cards-header {
    text-align: center;
    color: var(--darkblue);
    font-size: var(--font-size-medium);
    margin-top: 3.7rem;
    color: white; 

}


.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    
}

.card-container {
    height: 45rem;
    width: 33rem;
    border: 1px solid lightgray;
    box-shadow: 2rem 2rem 4rem rgba(36, 36, 34, 0.5);
    margin: 2rem;
    border-radius: 3px;
    background-color: white;

}

.movie-card {
    height: 52rem;
    width: 38rem;
}
.card-img {
    width: 100%;
}

.card-body {
    text-align: center;
    padding: .9rem;
    background-color: white;
}
.card-details {
    list-style: none;
    margin-top: 1.3rem;
    font-size: var(--font-size-small);

}

.card-detail {
    margin-top: .4rem;
}
.card-detail-bold {
    font-weight: 700;
}

.movie-description {
    font-size: var(--font-size-small);
    margin-top: .6rem;
    line-height: 1.3;
}