.footer {
    background-color: var(--black);
    height: 6rem;
    width: 100%;
    padding: 2.5rem;
    margin-top: 5.6rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    list-style: none;

}

.footer-text {
    color: whitesmoke;
    font-size: var(--font-size-small);
}

.footer ul li a {
    text-decoration: none;
    color: white;

}

.footer-text a:hover {
    color: skyblue;
}

.footer-text:hover {
    color: skyblue;
}

@media(max-width: 550px) {
    .footer {
        margin-top: 7rem;
    }
}

@media(max-width: 375) {
    .footer {
        margin-top: 20rem;
        height: 6rem;
    }

    .footer-wrapper {
        flex-direction: column;
    }
}

