.header-container {
    padding-top: 4.7rem;
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(147, 204, 236, 0), rgba(15, 25, 53, 0)),url('https://mediad.publicbroadcasting.net/p/wuis/files/styles/x_large/public/202002/marvel-star-wars-allegiance.jpg');
    background-position: center;
    background-size: cover;
    

}

.header-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 0;
    min-height: 90vh;
}

.header-left {
    background: url('https://i.pinimg.com/originals/73/ec/50/73ec5003d562cdfbdeb5e8c23eb743d7.jpg') 
    no-repeat center center/cover;
}

.header-right {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.header-right-wrapper {
    border-radius: 5px;
    background-color: rgba(77, 65, 65, 0.7);
    padding: 2rem 2rem;
    text-align: center;
    color: whitesmoke;
    width: 60rem;


}
.main-heading {
    display: inline-block;
    font-size: var(--font-size-big);
    letter-spacing: .2rem;
}

.sub-heading {
    margin-top: 1.5rem;
    display: inline-block;
    font-size: var(--font-size-medium);

}

.sub-heading-container {
  display: flex;
  justify-content: center;
  justify-items: center;

}

.react-logo {
  width: 8%;
  align-self: center;
  margin-top: .9rem;
}

.learn-more-btn {
  padding: 1.7rem;
    margin-top: 1.5rem;
    width: 20rem;
    align-self: center;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    background-color: rgb(43, 40, 68);
    font-weight: 700;
    cursor: pointer;
    color: white;
}

.learn-more-btn:hover {
  background-color: rgb(77, 73, 112);
  transform: translateY(-.1rem);
}

.learn-more-btn:focus {
  outline: none;
}


.icon-scroll,
.icon-scroll:before {
  position: absolute;
  top: 110%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  box-shadow: inset 0 0 0 1px rgb(77, 65, 65);
  border-radius: 25px;
  display: inline-block;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: rgb(83, 68, 68);
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;

}

@keyframes scroll {
    0% {
        opacity: 1;

    }
  100% {
    opacity: 0;
    transform: translateY(46px);

  }
}

@media(max-width: 768px) {
  
  .header-wrapper {
    grid-template-columns: 1fr;
  }

  .header-left {
    display: none;
  }

  .header-right-wrapper {
    top: 15%;
    position: absolute;
    top: 35%;
  }
  .main-heading {
    margin-top: 1rem;
  }

  .icon-scroll {
    width: 25px;
    height: 50px;
    margin-top: 2rem;
   
  }

  .icon-scroll:before {
    animation-name: scroll;
  }

  
@keyframes scroll {
  0% {
      opacity: 1;

  }
100% {
  opacity: 0;
  transform: translateY(36px);

}
}
}
@media screen and (max-width: 500px) {
  .header-right-wrapper {
    width: 41rem;
}
}