.about-container {
    height: 60vh;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60vh;
}

.about-right {
    background: url("https://cdn.vox-cdn.com/thumbor/WPU-WT6wZXMUVVZ2JaH09ozK1fI=/0x0:640x427/1200x800/filters:focal(269x163:371x265)/cdn.vox-cdn.com/uploads/chorus_image/image/54636905/Rey_and_BB-8.0.0.jpg") no-repeat center center/cover;

}

.about-left {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-header {
    text-align: center;
    color: var(--darkblue);
    font-size: var(--font-size-medium);
    

}

.about-description {
    margin-top: 1.5rem;
    font-size: var(--font-size-small);
    line-height: 1.9rem;
    color: var(--darkblue);


}

.btn-learn-more {
    padding: 1rem;
    margin-top: 1.5rem;
    width: 11rem;
    align-self: center;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    background-color: rgb(43, 40, 68);
    color: white;
    font-weight: 700;
    cursor: pointer;

}

button a {
    text-decoration: none;
    outline: none;
}
.btn-learn-more:hover {
    background-color: rgb(77, 73, 112);
    transform: translateY(-.1rem);

}

@media(max-width: 550px) {

    .about-container {
        height: 100vh;
    }
    .about-wrapper {
        grid-template-columns: 1fr;
    }

    .about-right {
        width: 100%;
        height: 50vh;
    }

    .btn-learn-more {
        height: 3rem;
        width: 15rem;
        padding: .6rem 1rem;
    }
}

