* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

}
body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;

}

:root {
  /* colors */
  --black: #181616;
  --darkblue:#3f424d;
  

  --font-size-big: 4rem;
  --font-size-medium: 3.2rem;
  --font-size-small-medium: 1.8rem;
  --font-size-small: 1.6rem;
  --font-size-very-small: 1.1rem;


}

@media(max-width: 1100px) {
  html {
    font-size: 52.5%;
  }

}

@media(max-width: 550px) {
  html {
    font-size: 45.5%;
  }
}

a:visited,
a:link,
a:active {
  text-decoration: none;
}

