.footer {
    background-color: var(--black);
    height: 6rem;
    width: 100%;
    padding: 2.5rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    list-style: none;

}

.footer-text {
    color: whitesmoke;
    font-size: var(--font-size-small);
}

.footer-wrapper ul .footer-text a:link,
.footer-wrapper ul .footer-text a:before,
.footer-wrapper ul .footer-text a:after {
    text-decoration: none;
    color: whitesmoke;

}

.footer-text:hover {
    color: skyblue;
}

@media(max-width: 550px) {
    .footer {
        margin-top: 7rem;
    }
}

