.footer {
    background-color: var(--black);
    height: 6rem;
    width: 100%;
    padding: 2.5rem;
    margin-top: 5.6rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    list-style: none;

}

.footer-text {
    color: whitesmoke;
    font-size: var(--font-size-small);
}

.footer-wrapper ul .footer-text a:link {
    text-decoration: none;
    color: whitesmoke;

}

.footer-text:hover {
    color: skyblue;
}

